fastapi==0.111.0
# fitz==0.0.1.dev2
PyMuPDF==1.24.5
langchain==0.2.3
langchain_openai==0.1.8
numpy==1.26.4
openai==1.33.0
opencv-python==4.10.0.82
passlib==1.7.4
pdf2image==1.17.0
Pillow==10.3.0
pydantic==1.10.12
pytesseract==0.3.10
python-jose==3.3.0
PyYAML==6.0.1
qdrant-client==1.9.1
tiktoken==0.7.0